<!DOCTYPE html>
<html>
    <head>
        <title>
            Mysql
        </title>
        <link rel="stylesheet" href="/css/style.css">
    </head>
    <body>
        <form action="/check"method="POST">
            <h1>Account Information</h1>
            <table>
                <tr>
                <th>
                    Login Name:
                </th>
                <td>
                    <input type="text" name="lname">
                </td>
                </tr>
                <tr>
                    <th>Password:</th>
                    <td><input type="password" name="pwd"></td>
                </tr>
                <tr>
                    <th>Confirm Password:</th>
                    <td><input type="password" name="cpwd"></td>
                </tr>
                <tr>
                    <th>
                        Email Address:
                    </th>
                    <td>
                        <input type="text" name="emailadd">
                    </td>
                </tr>
                <tr>
                    <th>
                        Confirm Email:
                    </th>
                    <td>
                        <input type="email" name="cemail">
                    </td>
                </tr>
            </table>
            <input type="submit"></button>
        </form>
    </body>
</html>